


.bookingpage{color: #fff;
margin-top: 200px;}
.bookingLeft {
    width: 40%;
    color: #fff;
    float: left;
  }
  .bookingLeft h1 {
    margin: 0;
    font-size: 60px;
    margin-top: 100px;
  }
  .bookingLeft p {
    font-size: 120%;
  }
  .bookingRight{
      width: 50%;
      float: right; 
  }


  /* bookingRight */
  .formbooking label{
    color: #fff;
}
/* form.formbooking {
  color: #fff;
}
.bookingRight {
  width: 40%;
  float: right;
  color: #fff;
  margin-left: 10%;
} */

.formbooking {
	background: powderblue;
	padding: 25px;
  border-radius: 5px;
  margin-top: -120px;
}
.formbooking label {
	color: black;
}

#origin, #destination {
  color: black;
  width: 100%;
  padding: 8px 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
}


.react-datepicker-wrapper {
  width: 100%;
  float: left;
  color: black; 
}
.react-datepicker-wrapper input {
  width: 90%;
  float: left;
  padding: 10px;
  background: #fff;
  margin-top: 10px;
}

.formbooking a {
	background-color: yellowgreen;
	color: black;
	border-radius: 4px;
	display: inline-block;
	margin-top: 20px !important;
	padding: 13px 20px;
	width: 88%;
	border: none;
	color: black !important;
	text-decoration: moccasin;
	text-align: center;
}
